body {
    background: linear-gradient(135deg, #0f2845, #0c1522);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Navigation_Bar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 2%;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
}

.Link {
    list-style: none;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
}

.canvas_3D_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Landing_Header {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 96px;
    top: 50%;
    color: whitesmoke
}

/* Demo */

.Demo_Page_E-commerce {
    background-color: white;
}

.Header_1_Demo {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 1%;
}

.Header_2_Demo {
    text-indent: 40px;
}